<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Top Trending Twitter Hashtags</title>
        <script src='static/Chart.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
            <h2 class="text-header">Hệ thống phân tích xu hướng trên TWITTER theo thời gian thực</h2>
            <div class="coverchart" style="">
                <canvas id="chart"></canvas>
            </div>

        <script>
            // Chart.defaults.global.defaultFontColor = 'black';
            // Chart.defaults.global.defaultFontSize = 16;
           var ctx = document.getElementById("chart");
        //    options: {
        //             scales: {
        //                 yAxes: [{
        //                     ticks: {
        //                         beginAtZero:true
        //                     }
        //                 }]
        //             }
        //         }
        //    }

           var options = {
                            scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            },
                                            // scaleLabel: {
                                            //     display: true,
                                            //     labelString: 'Moola',
                                            //     fontSize: 20 
                                            // }
                                        }]
                                                    
                                    }  
                            };
            var data = {
                    labels: [{% for item in labels %}
                              "{{item}}",
                             {% endfor %}],
                    datasets: [{
                        label: ' 10 top trending',
                        data: [{% for item in values %}
                                  {{item}},
                                {% endfor %}],
                        backgroundColor: [
                            'rgba(247, 30, 30, 0.7)',
                            'rgba(250, 128, 143, 0.7)',
                            'rgba(71, 150, 255, 0.7)',
                            'rgba(101, 228, 242, 0.7)',
                            'rgba(255, 102, 0, 0.7)',
                            'rgba(244, 250, 0, 0.7)',
                            'rgba(119, 249, 64, 0.7)',
                            'rgba(110, 242, 215, 0.7)',
                            'rgba(193, 253, 48, 0.7)',
                            'rgba(98, 165, 253, 0.7)',
                            'rgba(198, 255, 196, 0.7)'
                        ],
                        borderColor: [
                        'rgba(247, 30, 30, 0.7)',
                            'rgba(250, 128, 143, 0.7)',
                            'rgba(71, 150, 255, 0.7)',
                            'rgba(101, 228, 242, 0.7)',
                            'rgba(255, 102, 0, 0.7)',
                            'rgba(244, 250, 0, 0.7)',
                            'rgba(119, 249, 64, 0.7)',
                            'rgba(110, 242, 215, 0.7)',
                            'rgba(193, 253, 48, 0.7)',
                            'rgba(98, 165, 253, 0.7)',
                            'rgba(198, 255, 196, 0.7)'
                        ],
                        borderWidth: 2
                    }]
                }
           var myChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options : options
            }
           );


           var src_Labels = [];
           var src_Data = [];

            setInterval(function(){
                $.getJSON('/refreshData', {
                }, function(data) {
                    src_Labels = data.sLabel;
                    src_Data = data.sData;
                });

                myChart.data.labels = src_Labels;
                myChart.data.datasets[0].data = src_Data;
                myChart.update();

            },1000);





        </script>


    </body>
</html>